*~
/autom4te.cache
*.o
*.Po
*.a
*.so*
*.la
*.lo
.libs
.deps
Makefile
/config.log
/config.status
/libtool
/stx-exparser.pc
/testsuite/testsuite
/examples/csvfilter/csvfilter
/examples/csvtool/csvtool
/examples/simple/exprcalc
*.log
*.trs
